<footer class="white-section" id="footer">
    <div class="container-fluid">
      <p>© Copyright 2021 Shammah Nhlabathi</p>
      <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <a class="nav-link" href="#Contact" style="color: #ff7517"><i class="social-icon fas fa-envelope"></i></a>
      
    </div>
</footer>