
<%- include("header") %>

<section class="white-section" id="features">

<div class="container-fluid">
  <h2 class="section-heading">Why indoor Farming?</h2>
  <div class="row">
    <div class="feature-box col-lg-4">
      <i class="icon fas fa-check-circle fa-4x"></i>
      <h3 class="feature-title">Crop production is consistent </h3>
      <p>Crops grow in a healthier and safer environment with less chemicals or pesticides, therfore being reliable all year round.</p>
    </div>

    <div class="feature-box col-lg-4">
      <i class="icon fas fa-gift fa-4x"></i>
      <h3 class="feature-title">Self sufficient with solar panels</h3>
      <p>Bifacial Solar panels are used that allows some sunlight to shine through, meaning that the LED lights don't have to run at full capacity during a sunny day. Making this an Energy efficient option with the use of solar panels and LEDs. dont shed your load.</p>
    </div>

    <div class="feature-box col-lg-4">
      <i class="icon fas fa-award fa-4x"></i>
      <h3 class="feature-title">Reduction in water demands</h3>
      <p>Hydrophonic system ensures that water is recycled and reused without having to worry about evaporation</p>
    </div>
  </div>
</div>
</section><!-- Pricing -->

<section class="colored-section" id="AboutUS" >
<h2 class="section-heading">How does it work?</h2>
<div class="row row2" >

  

  <div class="pricing-column col-lg-4">
    <div class="card">
      <div class="card-header">
        <h3 class="price-text colored-section-p">Irrigation: </h3>
      </div>
      <div class="card-body">
        <p>The plants will not have access to rainfall therefore a hydroponics system will be used. The roots will be submerged into a nutrient and water solution.</p>
      </div>
    </div>
  </div>
  <div class="pricing-column col-lg-4">
    <div class="card">
      <div class="card-header">

        <h3 class="colored-section-p">Lighting:</h3>
      </div>
      <div class="card-body">
        <p>Solar panels will be used to provide electricity for LED lights to act as sunlight for the crops to growth. When considering weather, it will not affect the normal procedures of the indoor growing as a backup battery system will keep the lights on.</p>
      </div>
    </div>
  </div>
  <div class="pricing-column col-lg-4">
    <div class="card">
      <div class="card-header">
      <h3 class="colored-section-p">PH levels</h3>

      </div>
      <div class="card-body">
        <p>The PH levels of the ground will be monitored and maintained according to the needs of different crops.</p>
      </div>
    </div>
  </div>
  </div>


</section>

<section class="white-section" id="features">

  <div class="container-fluid">
    <h2 class="section-heading">What will be planted?</h2>
    <div class="row">
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-check-circle fa-4x"></i>
        <h3 class="feature-title">Microgreens</h3>
        <p>The farming will consist mainly of Microgreens as they are much healthier and have six times more nutrients than normal vegetables and herbs. </p>
      </div>
  
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-gift fa-4x"></i>
        <h3 class="feature-title">Crop yield time</h3>
        <p>The estimated crop yield time is between 7-10 days as they are only sprouts of the main plant</p>
      </div>
  
      <div class="feature-box col-lg-4">
        <i class="icon fas fa-award fa-4x"></i>
        <h3 class="feature-title">Plants</h3>
        <p>Lettuce, Cauliflower, Broccoli, Cabbage, Radish, Garlic, Onion, Leek, Cucumber, Squash, Beet. Some of which can be fully grown.</p>
      </div>
    </div>
  </div>
  </section><!-- Pricing -->

<section class="colored-section" id="AboutUS" >
    <h2 class="section-heading">What Sensors do we use?</h2>
    <div class="row row2" >



        <div class="pricing-column col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="price-text colored-section-p">Environmental: </h3>
                </div>
                <div class="card-body">
                    <p>  </p>
                </div>
            </div>
        </div>
        <div class="pricing-column col-lg-4">
            <div class="card">
                <div class="card-header">

                    <h3 class="colored-section-p">Electrical:</h3>
                </div>
                <div class="card-body">
                    <p>  </p>
                </div>
            </div>
        </div>
        <div class="pricing-column col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="colored-section-p">Crop:</h3>

                </div>
                <div class="card-body">
                    <p>  </p>
                </div>
            </div>
        </div>
    </div>


</section>
<!-- partners -->







<!-- Call to Action -->

<section class="colored-section" id="ContactUS">

<div id="Contact" class="contact-me">
        <h2 >Get In Touch</h2>
        <h3>Change table!</h3>
        <a class="btnn1" href="/home"><h3 class="btnbold">Click to change</h3></a>
      </div>

</section>
<!-- Footer -->

<footer class="white-section" id="footer">
<div class="container-fluid">
  <p>© Copyright 2021 Shammah Nhlabathi</p>
  <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  <a class="nav-link" href="#Contact" style="color: #ff7517"><i class="social-icon fas fa-envelope"></i></a>
  
</div>
</footer>

    